.header-tab__icon-selected {
	background-color: white;
	color: var(--blue);
	font-weight: 600;
}

.open-chat-container {
	background-color: var(--darker-black);
}

.current-chat__subtitle,
.playlist__text span,
.playlist__comment {
	font-size: var(--small);
}

.open-chat-room {
	margin: 15px 0px;
}

.open-chat-room {
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-top: var(--main-border);
	border-bottom: var(--main-border);
}

.open-chat-room__text {
	font-weight: 600;
}

.open-chat-room__btn {
	margin-top: 20px;
	text-align: center;
}

.current-chat {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 15px;
}

.current-chat__data {
	display: flex;
	align-items: center;
}

.current-chat__img {
	width: 60px;
	height: 60px;
	border-radius: 25px;
	margin-right: 10px;
}

.current-chat__subtitle,
.current-chat__stats {
	margin-top: 3px;
}

.current-chat__subtitle,
.current-chat__stats,
.playlist__header span:last-child,
.playlist__text-name,
.playlist__text-time {
	color: var(--washed-white);
}

.current-chat__stats,
.playlist__header span:last-child,
.playlist__text span:last-child {
	font-size: var(--xsmall);
}

.playlist {
	padding: 10px;
	display: flex;
	flex-direction: column;
	background-color: var(--darker-black);
	border-radius: 15px;
}

.playlist__header {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 50px;
	border-bottom: var(--main-border);
}

.playlist__texts {
	display: flex;
	flex-direction: column;
	height: 140px;
	margin: 10px 0px;
}

.playlist__text {
	margin-bottom: 5px;
}

.playlist__text-name {
	font-weight: 700;
	margin-right: 10px;
}

.playlist__comment {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 35px;
	padding: 5px 10px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	color: var(--washed-white);
}

.playlist__comment input,
.playlist__comment-btn {
	background-color: transparent;
	border: none;
	color: white;
}

.playlist__comment-btn {
	padding: 5px 7px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--washed-white);
	background-color: var(--darker-black);
	color: white;
	cursor: pointer;
}

.trending__btns {
	display: flex;
	flex-wrap: wrap;
}

.trending__btn {
	margin: 0px 8px 8px 0px;
}

.trending__btn:first-child,
.trending__btn:nth-child(8),
.trending__btn:last-child {
	border-color: aqua;
}

.open-chat-room__btn:hover,
.current-chat__btn:hover,
.trending__btn:hover {
	cursor: pointer;
}
