#profile {
	background: none;
	background-color: var(--blue);
}

#profile-one {
	background: top/cover url("/kokoa-clone-2024/images/25.jpeg");
}

#profile-two {
	background: none;
	background-color: #f9787e;
}

#profile-three {
	background: top/cover url("/kokoa-clone-2024/images/26.gif");
}

#profile-four {
	background: none;
	background-color: #d6883e;
}
