.alt-header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 45px 25px 25px 25px;
	margin-bottom: 15px;
}

.alt-header__column {
	width: 33%;
}

.alt-header__column:nth-child(2) {
	display: flex;
	justify-content: center;
}

.alt-header__column:last-child {
	display: flex;
	justify-content: flex-end;
}

.alt-header__column span:last-child {
	margin-left: 20px;
}

.alt-header__title {
	font-size: 32px;
	font-weight: 600;
}
