.container {
	border-radius: 15px;
	padding: 20px;
	margin-bottom: 15px;
}

.container__header {
	font-weight: 700;
	margin-bottom: 20px;
}

.container__btn {
	margin-top: 15px;
	color: var(--washed-white);
	text-align: center;
	font-size: 13px;
}
.container__btn span {
	margin-right: 5px;
}

.container__btn:hover {
	cursor: pointer;
}
