.current-container {
	border-radius: 15px;
	padding: 15px;
	margin-bottom: 15px;
}

.current-container__header {
	font-weight: 700;
	margin-bottom: 15px;
}

.current-container__btn {
	margin-top: 15px;
	color: var(--washed-white);
	text-align: center;
	font-size: 13px;
}
.current-container__btn span {
	margin-right: 5px;
}

.current-container__btn:hover {
	cursor: pointer;
}
