.nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 20px 40px;
	box-sizing: border-box;
	background-color: var(--washed-black);
	border-top: 1px solid var(--washed-black);
}

.nav__list {
	display: flex;
	justify-content: space-between;
}

.nav__link {
	color: #2e363e;
	position: relative;
}

.nav__notification {
	position: absolute;
	left: 15px;
	bottom: 18px;
}

.nav__alert {
	background-color: tomato;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	position: absolute;
	left: 30px;
}
