.user-component,
.user-component__column {
	display: flex;
	align-items: center;
}

.user-component {
	justify-content: space-between;
	margin-bottom: 15px;
}

.user-component__column:first-child {
	width: 100%;
}

.user-component__column:last-child {
	display: flex;
	flex-direction: column;
	align-items: end;
	color: var(--washed-white);
}

.user-component__avatar {
	width: 70px;
	height: 70px;
	border-radius: 30px;
	margin-right: 10px;
}

.user-component__avatar--xl {
	width: 80px;
	height: 80px;
}

.user-component__avatar--sm {
	width: 60px;
	height: 60px;
	border-radius: 25px;
}

.user-component__title {
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 22px;
}

.user-component__title--not-bold {
	font-weight: 400;
}

.user-component__title i {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: var(--main-border);
	font-size: 8px;
	margin-left: 8px;
}

.user-component__subtitle {
	margin-top: 8px;
	color: var(--washed-white);
	font-size: var(--medium);
}

.user-component__time {
	display: block;
	margin-bottom: 10px;
}

.user-component__box {
	width: 500rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
